html {
    background: black;
    color: white;
}

.dark-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.dark-button:hover {
    background-color: #444;
}

.dark-button:disabled {
    background-color: #111;
    color: #333;
    cursor: not-allowed;
}

.artifact-checkbox:checked {
    accent-color: #444;
    color: #fff;
}

#artifact-table {
    margin: auto auto;
    max-width: 800px;
    width: 100%;
    display: table;
}

.buttons {
    margin: auto auto;
    max-width: 800px;
    width: 100%;
}

#artifact-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#artifact-table-header {
    display: table-header-group;
    background-color: #303030;
    font-weight: bold;
}

.artifact-header-cell-chkbox {
    width: 30px;
}

.artifact-header-cell-filename {
    text-align: left;
}

.artifact-header-cell-progress {
    width: 300px;
}

.artifact-header-cell-size {
    width: 80px;
    text-align: center;
}

.artifact-header-cell-buttons {
    width: 70px;
}

.artifact-header-cell {
    display: table-cell;
    padding: 5px;
}

#artifact-table-body {
    display: table-row-group;
}

.artifact-table-row {
    display: table-row;
    cursor: pointer;
}

.artifact-table-cell-chkbox {
    width: 30px;
    text-align: center;
}

.artifact-table-cell-filename {
    text-align: left;
}

.artifact-table-cell-progress {
    width: 300px;
    text-align: right;
}

.artifact-table-cell-size {
    width: 80px;
    text-align: right;
}

.artifact-table-cell-buttons {
    width: 70px;
    text-align: center;
}

.artifact-table-cell {
    display: table-cell;
    border-top: 1px solid rgb(37, 37, 37);
    padding: 3px;
}

.artifact-progress-bar {
    width: 200px;
}

#artifact-upload-form {
    margin-top: 10px;
}

/* MODAL WINDOWS */

.modal-window-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-window {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 700px;
    width: 80%;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
